<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>JSP Page</title>
    <script>
        $(document).ready(function () {
            $('#newPassword, #rePassword').on('keyup', function () {
                if ($('#newPassword').val() == $('#rePassword').val()) {
                    $('#message').html('Matching').css('color', 'green');
                } else
                    $('#message').html('Not Matching').css('color', 'red');
            });
        });
    </script>
</head>
<body>
<header th:replace="fragments/navbar_user.html :: header"> </header>
<div class="container" style="margin-top: 10px;">
    <div class="row"
         style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
        <div class="col-sm-12">
            <h2>Edit Member</h2>
            <form th:action="@{/user/savePassword}" th:object="${user}" method="post">
                <div class="form-group" hidden="hidden">
                    <label>Id</label>
                    <input type="number" class="form-control" th:field="*{id}" th:value="${user.id}">
                </div>
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" class="form-control" th:field="*{userName}"  th:value="${user.userName}" readonly>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password"
                           class="form-control" th:field="*{password}">
                </div>
                <div class="form-group">
                    <label>New-Password:</label>
                    <input type="password"
                           class="form-control" name="newPassword" id="newPassword">
                </div>
                <div class="form-group">
                    <label>Re-Password:</label>
                    <input type="password"
                           class="form-control" name="rePassword" id="rePassword">
                    <span id='message'></span>
                </div>
                <div class="form-group" hidden="hidden">
                    <label>Date Of Birth</label>
                    <input type="date" class="form-control" th:field="*{dateOfBirth}" placeholder="Enter date" th:value="${user.dateOfBirth}">
                </div>
                <div class="form-group" hidden="hidden">
                    <label>FullName</label>
                    <input type="text" class="form-control" th:field="*{fullName}" th:value="${user.fullName}">
                </div>
                <div class="form-group" hidden="hidden">
                    <label>Email</label>
                    <input type="email" class="form-control" th:field="*{email}"  th:value="${user.email}">
                </div>
                <div class="form-group" hidden="hidden">
                    <label>Phone</label>
                    <input type="text" class="form-control" th:field="*{phone}"  th:value="${user.phone}">
                </div>
                <div class="form-group" hidden="hidden">
                    <label>Role</label>
                    <input type="text" class="form-control" th:field="*{role}"  th:value="${user.role}">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="/admin/list"><button type="button" class="btn btn-primary">Cancel</button></a>
            </form>
        </div>
    </div>
</div>
</body>
</html>
