
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>DANH SACH NGUOI DUNG</h2>
    <p><a class="btn btn-primary" href="/">ADD USER</a></p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>FullName</th>
            <th>Date</th>
            <th>Email</th>
            <th>Phone</th>
            <th>TimeCreated</th>
            <th>TimecUpdated</th>
            <th>TimeDeleted</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>NoNV</td>
            <td>NoNV123</td>
            <td>Nguyen Van No</td>
            <td>null</td>
            <td>no@gmail.com</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>User</td>
            <td><a class="btn btn-primary btn-sm" href="/edit/NoNV">Edit</a> |
                <a class="btn btn-danger btn-sm" href="/delete/NoNV">Del</a></td>
        </tr>
        <tr>
            <td>NoNV</td>
            <td>NoNV123</td>
            <td>Nguyen Van No</td>
            <td>null</td>
            <td>no@gmail.com</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>User</td>
            <td><a class="btn btn-primary btn-sm" href="/edit/NoNV">Edit</a> |
                <a class="btn btn-danger btn-sm" href="/delete/NoNV">Del</a></td>
        </tr>
        <tr>
            <td>NoNV</td>
            <td>NoNV123</td>
            <td>Nguyen Van No</td>
            <td>null</td>
            <td>no@gmail.com</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>User</td>
            <td><a class="btn btn-primary btn-sm" href="/edit/NoNV">Edit</a> |
                <a class="btn btn-danger btn-sm" href="/delete/NoNV">Del</a></td>
        </tr>
        <tr>
            <td>NoNV</td>
            <td>NoNV123</td>
            <td>Nguyen Van No</td>
            <td>null</td>
            <td>no@gmail.com</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>User</td>
            <td><a class="btn btn-primary btn-sm" href="/edit/NoNV">Edit</a> |
                <a class="btn btn-danger btn-sm" href="/delete/NoNV">Del</a></td>
        </tr>
        <tr>
            <td>NoNV</td>
            <td>NoNV123</td>
            <td>Nguyen Van No</td>
            <td>null</td>
            <td>no@gmail.com</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>null</td>
            <td>User</td>
            <td><a class="btn btn-primary btn-sm" href="/edit/NoNV">Edit</a> |
                <a class="btn btn-danger btn-sm" href="/delete/NoNV">Del</a></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
